<!-- <p>{{myname}}</p> -->
<div class="part2"><h1><span id="head" *ngFor = "let item of myinfo">Привет<br>я {{item.myname}}</span></h1>  </div>

<div class="part2" > 
    <img class="myphoto" width="200px" height="300px" src="../assets/img/myphoto.jpg"><br><br>
         <div class="textphoto">  
             <span *ngFor = "let item of myinfo"> {{item.position}}<br><br>{{item.company}}<br><br>{{item.email}}<br><br>{{item.phone}}</span><br><br>  
       <a href="https://www.facebook.com/profile.php?id=100004593189292"><img width="20px" height="20px;" src="../assets/img/facebook-128.png" alt="facebook"></a>
       <a href="https://www.instagram.com/kazarina.tatyana/"><img width="20px" height="20px;" src="../assets/img/instagram-2-128.png"                        alt="insta"></a>
       <a href="https://mail.google.com/mail/u/0/?tab=wm#inbox"><img width="20px" height="20px;" src="../assets/img/gmail-128.png" alt="mail"></a>
       <a href="https://github.com/KazarinaT"><img width="20px" height="20px;" src="../assets/img/git_hub1.png" alt="git_hub"></a>
      
    </div>
  </div>

 <div class="part3">
   <span id="about"><h2>Обо мне</h2>Обладая страстью к информационным технологиям и социальным сетям, у меня есть как набор навыков, так и профессиональный опыт, необходимые для того, чтобы глубоко погрузиться в мир IT. Как энергичный, целеустремленный командный игрок с отличным общением, я предвижу захватывающее будущее в отрасли. Просмотрите мой сайт, чтобы увидеть все, что я могу предложить. </span>
</div>
