<div class="part3">
    <span><h2 id="work">Опыт работы</h2><p><b>Период работы:</b> апрель 2011-апрель 2013<br> 
<b>Должность:</b> инженер – программист<br><b>Организация:</b> АО "Украинская железная дорога" <br>
<b>Должностные обязанности и достижения:</b><br>
   
   
    <details>  <summary>Полный опыт работы</summary>  – установка нового программного обеспечения<br> 
– установка новых сопутствующих программных  компонентов<br>– сопровождение программ<br><br>
<b>Период работы:</b> апрель 2013 -апрель 2015 <br><b>Должность:</b> инженер - программист З-й категории<br><b>Организация:</b> АО "Украинская железная дорога" <br><b>Должностные обязанности и достижения:</b><br>– установка нового программного обеспечения<br>– установка новых сопутствующих программных компонентов<br>– сопровождение программ<br>– разделения Баз данных<br>– администрирование SQL  Server<br><br><b>Период работы:</b> апрель 2015 -август 2016 <br><b>Должность:</b> Инженер - программист 2-й категории <br><b>Организация:</b> АО "Украинская железная дорога" 
<b>Должностные обязанности и достижения:</b><br>– установка нового программного обеспечения<br>– установка новых сопутствующих программных компонентов<br>– сопровождение программ<br>– разделения Баз данных<br>– администрирование SQL  Server<br>– корректировка данных в базах данных<br>– работа с бухгалтерией<br>– сопровождение клиентов<br>– сопровождение предприятий
– техническая поддержка и сопровождение по телефону<br>– обслуживание компьютеров по удаленному доступу<br><br><b>Период работы:</b> август 2016 - настоящее время (ч года)<br><b>Должность:</b> Инженер - программист 1-й категории<br><b>Организация:</b> АО "Украинская железная дорога"<br> 
<b>Должностные обязанности и достижения:</b><br>– установка нового программного обеспечения<br>– установка новых сопутствующих программных компонентов<br>– сопровождение программ<br>– разделения Баз данных<br>– создание Баз данных<br>– написание SQL  запросов<br>– администрирование SQL Server<br>– корректировка данных в базах данных<br>– работа с бухгалтерией<br>– сопровождение клиентов<br>– сопровождение предприятий<br>– техническая поддержка и сопровождение по телефону<br>– обслуживание компьютеров по удаленному доступу
– внедрение групповых проектов<br>– администрирование серверов</details>
</p></span>  
</div>  
