<div class="part3">
    <span><h2 id="curs">Курсы и тренинги</h2><p><b>Название курса:</b> Введение в настройку системы «1С: Предприятие В» Основные объекты<br><b>Учебное заведение:</b> Белый ветер, г. Кривой Рог<br><b>Дата окончания:</b> 2010<br><b>Продолжительность:</b> 2 месяца<br><b>Название курса:</b> Разработка Программного Обеспечения<br><b>Учебное заведение:</b> КА ШАГ, г. Кривой Рог<br> <b>Дата начала:</b> 2019 <br> <b>Продолжительность:</b> по настоящее время
</p></span>  
 </div>  
          <div class="part3">
    <span><h2>Дополнительная информация</h2><p><b>Английский</b> (Upper - intermediate) <br><b>
Компьютерные навыки:</b> Печать, сканирование, копирование документов, Интернет, Электронная почта, Microsoft Word, Microsoft Excel, Microsoft Power  Point, C++, C#, SQL Server, ADO.Net, WinForm, HTML/CSS5, ASP.NET, JavaScript, Angular, React, PHP, Node.js</p></span>  
 </div>    
