<div class="part1">
  <div class="c2"><a href="#head">Главная</a></div>
  <div class="c2"><a href="#about">Обо мне</a></div>
  <div class="c2"><a href="#education">Образование</a></div>
  <div class="c2"><a href="#work">Опыт работы</a></div>
  <div class="c2"><a href="#curs">Курсы и тренинги</a></div>
  <div class="c2"><a href="#exampl">Мои работы</a></div>  
</div> 

<app-aboutme></app-aboutme>
<app-experience></app-experience>
<app-learning></app-learning>
<app-certif></app-certif>
<app-mywork></app-mywork>
   
<div>
   <a href="#" title="Вернуться к началу" class="topbutton">Наверх</a>
</div> 
<br>
<div class="c9"> <span>&copy;kazarina 2021</span></div>        

  
