<div class="textphoto"><span><h2>Сертификаты</h2></span>
    <div class="part4">
    <img width="350px" height="250px" src="{{MyCertificat[0]}}"alt="cert6" class="pos pos6">
<img width="350px" height="450px" src="{{MyCertificat[1]}}" alt="cert4" class="pos pos1">
<img width="350px" height="250px" src="{{MyCertificat[2]}}"alt="cert2" class="pos pos2">
<img width="350px" height="250px" src="{{MyCertificat[3]}}"alt="cert1" class="pos pos3">
<img width="350px" height="250px" src="{{MyCertificat[4]}}"alt="cert3" class="pos pos4">
<img width="350px" height="250px" src="{{MyCertificat[5]}}"alt="cert5" class="pos pos5">

</div>     
</div>
