<div class="part3" style="margin-top: 480px;">
    <span><h2>Мои работы</h2><br><h2>Интернет проекты</h2><br>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">HTML Tutorial.html</a>   
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">List.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">Cards.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">TOUR-GIUDE.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">Contents.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">TextANDPicture.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">Computer programming.html</a>
        <a href="https://onedrive.live.com/?id=FE693835ACA16CE4%211243&cid=FE693835ACA16CE4">Mathematical formulas.html</a><h2>Приложения</h2></span>
    
    </div>   
     
  <div id="exampl">
  
<div id="p1">
<img  width="400px" height="200px" src="../assets/img/prog/ado1.JPG">
 <!--<button type="submit" id="b1" onclick="https://onedrive.live.com/?cid=FE693835ACA16CE4&id=FE693835ACA16CE4%21547&parId=FE693835ACA16CE4%21546&o=OneUp" >Скачать архив</button>-->
 <button type="submit" id="b1"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCNdCKk2ISaPmlmN?e=8pjhp7">Скачать архив</a></button>
 </div>      
  <div id="p2">
  <img width="400px" height="200px" src="../assets/img/prog/asink.JPG">
<!--<button type="submit" id="b2" onclick="window.location = 'programm/asink.rar'" >Скачать архив</button>-->
 <button type="submit" id="b2"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCStj3OSAtimFy0n?e=RbnH0b">Скачать архив</a></button>
  </div>    
  <div id="p3">
 <img width="400px" height="200px" src="../assets/img/prog/asink_await.JPG">
 <!--<button type="submit" id="b3" onclick="window.location = 'programm/asink_await.rar'" >Скачать архив</button>-->
 <button type="submit" id="b3"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCVZGgnE7W4HN3tf?e=40wywz">Скачать архив</a></button>
  </div>  
  <details>  <summary>Примеры</summary>
  <div id="p4">
  <img  width="400px" height="200px" src="../assets/img/prog/chat2.JPG">
<!--<button type="submit" id="b4" onclick="window.location = 'programm/chat.rar'" >Скачать архив</button>-->
 <button type="submit" id="b4"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCfdCmIPZlXw2zcF?e=ufjW4e">Скачать архив</a></button>
  </div>
  <div id="p5">
  <img width="400px" height="200px" src="../assets/img/prog/edir1.JPG">
 <!--<button type="submit" id="b5" onclick="window.location = 'programm/edit.rar'" >Скачать архив</button>-->
 <button type="submit" id="b5"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCyELU_e0dYXSuyB?e=R5yF1x">Скачать архив</a></button>
  </div>
  <div id="p6">
  <img width="400px" height="200px" src="../assets/img/prog/find.JPG">
<!-- <button type="submit" id="b6" onclick="window.location = 'programm/find.rar'" >Скачать архив</button>-->
 <button type="submit" id="b6"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCbRAskVzGWqWtsz?e=3eLbac">Скачать архив</a></button>
  </div>
  <div id="p7">
  <img width="400px" height="200px" src="../assets/img/prog/list.JPG">
 <!--<button type="submit" id="b7" onclick="window.location = 'programm/list.rar'" >Скачать архив</button>-->
 <button type="submit" id="b7"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hChCdT13sG9qJEiQ?e=2JaPjf">Скачать архив</a></button>
  </div>
  <div id="p8">
  <img width="400px" height="200px" src="../assets/img/prog/note.JPG">
<!--<button type="submit" id="b8" onclick="window.location = 'programm/note.rar'" >Скачать архив</button>-->
 <button type="submit" id="b8"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCl3KZGe2BM28Q6t?e=mA1KfY">Скачать архив</a></button>
  </div>
  <div id="p9">
  <img width="400px" height="200px" src="../assets/img/prog/player1.JPG">
 <!--<button type="submit" id="b9" onclick="window.location = 'programm/player.zip'" >Скачать архив</button>-->
 <button type="submit" id="b9"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hC4zqwIjqbOCtZ22?e=noObEX">Скачать архив</a></button>
  </div>
  <div id="p10">
  <img width="400px" height="200px" src="../assets/img/prog/timer.JPG">
 <!--<button type="submit" id="b10" onclick="window.location = 'programm/timer.rar'" >Скачать архив</button>-->
 <button type="submit" id="b10"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCoE36VT6FN_gIUo?e=Lv6Jcp">Скачать архив</a></button>
  </div>
  <div id="p11">
  <img width="400px" height="200px" src="../assets/img/prog/wordpad_ru.JPG">
<!--<button type="submit" id="b11" onclick="window.location = 'programm/wordpad.rar'" >Скачать архив</button>-->
 <button type="submit" id="b11"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hCtZwANVohhhptdh?e=DMRGZm">Скачать архив</a></button>
  </div>
  <div id="p12">
  <img width="400px" height="200px" src="../assets/img/prog/shop.JPG">
<!--<button type="submit" id="b12" onclick="window.location = 'programm/shop.zip'" >Скачать архив</button>-->
 <button type="submit" id="b12"> <a href="https://1drv.ms/u/s!AuRsoaw1OGn-hC1HYtxIFDLbkQke?e=iw7vRe">Скачать архив</a></button>
  </div>
  </details>    
